            body {
                background-color: #EAF6F6;
            }
            
            h1 {
                color: #66BFBF;
            }
            
            h3 {
                color: #66BFBF;
            }
            
            hr {
                background-color: white;
                border-style: none;
                height: 1px;
                width: 100%;
            }
            
            .profile-img {
                border-radius: 100%;
            }